<style>
   footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      border-top: 1px solid var(--accents-2);
   }
   .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 160px;
      width: 55vw;
   }
   .footer-view-column {
      padding-top: 1rem;
      padding-bottom: 1rem;
   }

   .footer-nav-links {
      display: flex;
      flex-direction: row;
      gap: var(--gap);
   }
   .footer-nav-link:hover {
      color: var(--foreground);
   }
   .footer-nav-link:focus {
      color: var(--primary);
   }

   .footer-social-icon {
      width: 22px;
      height: 22px;
      fill: var(--accents-5);
      transition: fill 120ms linear;
   }
   .footer-social-link:hover .footer-social-icon {
      fill: var(--foreground);
   }
   .footer-social-link:focus .footer-social-icon {
      fill: var(--primary);
   }

   @media (max-width: 767px) {
      footer .footer-container {
         flex-direction: column-reverse;
         justify-content: center;
         width: 90vw;
         min-height: 240px;
      }
   }
</style>

<footer>
   <div class="footer-container">
      <div class="footer-view-column text-muted">&copy; 2023 Fivemin</div>

      <nav class="footer-view-column footer-nav-links">
         <a href="/terms" class="footer-nav-link text-muted" title="Terms and Conditions">Terms</a>
         <a href="/privacy" class="footer-nav-link text-muted" title="Privacy Policy">Privacy</a>
      </nav>

      <nav class="footer-view-column footer-nav-links">
         <a href="mailto:<%= contactEmail %>" class="footer-social-link" title="Mail">
            <svg 
               class="footer-social-icon footer-icon__mail"
               viewBox="0 0 24 24" 
               xmlns="http://www.w3.org/2000/svg">
               <path d="m15.24 8.998 3.656-3.073v15.81H2.482C1.11 21.735 0 20.609 0 19.223V6.944l7.58 6.38a2.186 2.186 0 0 0 2.871-.042l4.792-4.284h-.003zm-5.456 3.538 1.809-1.616a2.438 2.438 0 0 1-1.178-.533L.905 2.395A.552.552 0 0 0 0 2.826v2.811l8.226 6.923a1.186 1.186 0 0 0 1.558-.024zM23.871 2.463a.551.551 0 0 0-.776-.068l-3.199 2.688v16.653h1.623c1.371 0 2.481-1.127 2.481-2.513V2.824a.551.551 0 0 0-.129-.36z" />
            </svg>
         </a>

         <a href="https://www.instagram.com/fivemin.in" class="footer-social-link" title="Instagram" target="_blank">
            <svg 
               class="footer-social-icon footer-icon__instagram"
               viewBox="0 0 24 24" 
               xmlns="http://www.w3.org/2000/svg">
               <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z" />
            </svg>
         </a>
         
         <a href="https://www.threads.net/@fivemin.in" class="footer-social-link" title="Threads" target="_blank">
            <svg 
               class="footer-social-icon footer-icon__threads"
               viewBox="0 0 24 24" 
               xmlns="http://www.w3.org/2000/svg">
               <path d="M17.743 11.123a8.547 8.547 0 0 0-.315-.142c-.185-3.414-2.05-5.368-5.182-5.388h-.042c-1.874 0-3.431.8-4.39 2.255l1.722 1.181c.716-1.087 1.84-1.319 2.669-1.319h.028c1.031.007 1.81.307 2.313.892.367.425.612 1.014.733 1.756a13.176 13.176 0 0 0-2.96-.143c-2.977.172-4.892 1.908-4.763 4.321.065 1.224.675 2.277 1.717 2.965.88.582 2.015.866 3.195.802 1.557-.086 2.778-.68 3.63-1.766.648-.825 1.057-1.894 1.238-3.241.742.448 1.292 1.037 1.596 1.745.517 1.205.547 3.184-1.068 4.797-1.415 1.414-3.116 2.025-5.686 2.044-2.851-.02-5.008-.935-6.41-2.717-1.313-1.67-1.991-4.08-2.016-7.165.025-3.085.703-5.496 2.016-7.165 1.402-1.782 3.558-2.696 6.41-2.717 2.871.02 5.065.94 6.521 2.73.714.879 1.252 1.983 1.607 3.27l2.018-.538c-.43-1.585-1.107-2.95-2.027-4.083C18.43 1.2 15.7.024 12.185 0h-.014C8.66.024 5.963 1.205 4.15 3.51c-1.614 2.05-2.446 4.905-2.474 8.482v.016c.028 3.578.86 6.431 2.473 8.482 1.813 2.305 4.512 3.486 8.022 3.51h.014c3.12-.022 5.319-.839 7.13-2.649 2.371-2.368 2.3-5.336 1.518-7.158-.56-1.307-1.629-2.368-3.09-3.07zm-5.387 5.065c-1.305.074-2.66-.512-2.728-1.766-.05-.93.662-1.969 2.808-2.092.246-.015.487-.021.724-.021.78 0 1.508.075 2.171.22-.247 3.088-1.697 3.59-2.975 3.66z" />
            </svg>
         </a>
      </nav>
   </div>
</footer>
