<style>
   #app-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      border-top: 1px solid var(--accents-2);
   }
   .footer-container {
      display: flex;
      align-items: center;
   }
   .footer-view-column {
      padding-top: 1rem;
      padding-bottom: 1rem;
   }
   .footer-nav-links {
      display: flex;
      flex-direction: row;
      gap: var(--gap);
   }
   .footer-nav-link:hover {
      color: var(--foreground);
   }
   .footer-nav-link:focus {
      color: var(--primary);
   }

   .footer-social-icon {
      width: 22px;
      height: 22px;
      fill: var(--accents-5);
      transition: fill 120ms linear;
   }
   .footer-social-link:hover .footer-social-icon {
      fill: var(--foreground);
   }
   .footer-social-link:focus .footer-social-icon {
      fill: var(--primary);
   }

   /* X-small to Large */
   @media (max-width: 992px) {
      #app-footer .footer-container {
         flex-direction: column-reverse;
         justify-content: center;
         width: 350px;
         min-height: 240px;
      }
   }

   /* Large */
   @media (min-width: 992px) {
      #app-footer .footer-container {
         flex-direction: row;
         justify-content: space-between;
         width: 55vw;
         min-height: 160px;
      }
   }
</style>

<footer id="app-footer">
   <div class="footer-container">
      <div aria-hidden="true" class="footer-view-column text-muted">&copy; 2023 Fivemin</div>

      <nav class="footer-view-column footer-nav-links">
         <a 
            href="/terms" 
            aria-label="Terms and Conditions" 
            title="Terms and Conditions" 
            class="footer-nav-link text-muted">
            Terms
         </a>

         <a 
            href="/privacy" 
            aria-label="Privacy Policy" 
            title="Privacy Policy" 
            class="footer-nav-link text-muted">
            Privacy
         </a>
      </nav>

      <nav class="footer-view-column footer-nav-links">
         <a 
            href="mailto:<%= contactEmail %>" 
            aria-label="Contact Email"
            title="Mail" 
            class="footer-social-link">
            <svg 
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24" 
               role="img"
               class="footer-social-icon footer-icon__mail">
               <path d="m15.24 8.998 3.656-3.073v15.81H2.482C1.11 21.735 0 20.609 0 19.223V6.944l7.58 6.38a2.186 2.186 0 0 0 2.871-.042l4.792-4.284h-.003zm-5.456 3.538 1.809-1.616a2.438 2.438 0 0 1-1.178-.533L.905 2.395A.552.552 0 0 0 0 2.826v2.811l8.226 6.923a1.186 1.186 0 0 0 1.558-.024zM23.871 2.463a.551.551 0 0 0-.776-.068l-3.199 2.688v16.653h1.623c1.371 0 2.481-1.127 2.481-2.513V2.824a.551.551 0 0 0-.129-.36z" />
            </svg>
         </a>

         <a 
            href="https://github.com/rajatxs/fivemin-cloud-functions" 
            aria-label="Fivemin Github Repository"
            title="GitHub Repository" 
            target="_blank"
            class="footer-social-link">
            <svg 
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24" 
               role="img"
               class="footer-social-icon footer-icon__github">
               <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
            </svg>
         </a>

         <a 
            href="https://www.facebook.com/profile.php?id=61553225333816" 
            aria-label="Facebook page"
            title="Facebook" 
            target="_blank"
            class="footer-social-link">
            <svg 
               role="img" 
               viewBox="0 0 24 24" 
               xmlns="http://www.w3.org/2000/svg"
               class="footer-social-icon footer-icon__facebook">
               <path d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978.401 0 .955.042 1.468.103a8.68 8.68 0 0 1 1.141.195v3.325a8.623 8.623 0 0 0-.653-.036 26.805 26.805 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.686 1.686 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647Z" />
            </svg>
         </a>

         <a 
            href="https://www.instagram.com/fivemin.in" 
            aria-label="Instagram account"
            title="Instagram" 
            target="_blank"
            class="footer-social-link">
            <svg 
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24" 
               role="img"
               class="footer-social-icon footer-icon__instagram">
               <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z" />
            </svg>
         </a>

         <a 
            href="https://twitter.com/fivemin_in" 
            aria-label="X account"
            title="X" 
            target="_blank"
            class="footer-social-link">
            <svg 
               xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 24 24" 
               role="img"
               class="footer-social-icon footer-icon__x">
               <path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/>
            </svg>
         </a>
      </nav>
   </div>
</footer>
