<style>
   #app-header {
      position: fixed;
      display: flex;
      left: 0;
      right: 0;
      top: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      z-index: 100;
      border-bottom: 1px solid var(--accents-2);
      background-color: var(--background);
      transition: transform 340ms ease;
   }

   #app-header.hidden {
      transform: translateY(-100px);
   }

   #app-header .app-title {
      display: flex;
      align-items: center;
      margin: 0;
      font-weight: 500;
      letter-spacing: -0.066875rem;
   }

   #app-header .app-title .app-title__prefix {
      color: var(--foreground);
   }

   #app-header .app-title .app-title__suffix {
      color: var(--accents-4);
   }

   #app-header .app-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: inherit;
   }

   #app-header .app-nav .app-nav-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-radius: 25px;
      color: inherit;
      transition: border-color 200ms ease;
   }

   #app-header .app-nav .app-nav-link > .app-icon {
      fill: var(--foreground);
   }

   #app-header .app-nav .app-nav-link:hover {
      border-color: var(--foreground);
   }

   #app-header .app-nav .app-nav-link:focus {
      border-color: var(--foreground);
      background-color: var(--foreground);
      color: var(--background);
   }

   #app-header .app-nav .app-nav-link:focus > .app-icon {
      fill: var(--background);
   }

   #app-header .page-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: inherit;
   }

   /* Small */
   @media (max-width: 576px) {
      #app-header {
         height: 70px;
      }
      #app-header .page-header-container {
         width: 350px;
      }
      #app-header .app-title {
         font-size: 2rem;
      }
      #app-header .app-nav {
         gap: var(--gap-quarter);
      }
      #app-header .app-nav .app-nav-link {
         width: 70px;
         height: 35px;
      }
      #app-header .app-nav .app-nav-link > .app-icon {
         width: 22px;
         height: 22px;
      }
      #app-header .app-nav .app-nav-link.app-nav-link-rounded {
         width: 35px;
      }
   }

   /* X-Small to Medium */
   @media (min-width: 576px) {
      #app-header {
         height: 100px;
      }
      #app-header .page-header-container {
         width: 500px;
      }
      #app-header .app-title {
         font-size: 3rem;
      }
      #app-header .app-nav {
         gap: 8px;
      }
      #app-header .app-nav .app-nav-link {
         width: 80px;
         height: 40px;
      }
      #app-header .app-nav .app-nav-link > .app-icon {
         width: 24px;
         height: 24px;
      }
      #app-header .app-nav .app-nav-link.app-nav-link-rounded {
         width: 40px;
      }
   }

   /* Medium */
   @media (min-width: 768px) {
      #app-header .page-header-container {
         width: 700px;
      }
   }

   /* Large */
   @media (min-width: 992px) {
      #app-header .page-header-container {
         width: 900px;
      }
   }
   
   /* Extra Large */
   @media (min-width: 1200px) {
      #app-header .page-header-container {
         width: 1100px;
      }
   }
   
   /* Extra extra Large */
   @media (min-width: 1400px) {
      #app-header .page-header-container {
         width: 1300px;
      }
   }
</style>

<header id="app-header">
   <div class="page-header-container">
      <h3 class="app-title">
         <a 
            href="/" 
            aria-label="Fivemin Homepage" 
            title="Fivemin">
            <span class="app-title__prefix">five</span><span class="app-title__suffix">min</span>
         </a>
      </h3>
      <nav class="app-nav">
         <% if (pageUrlEndpoint !== '/t') { %>
            <a href="/t" class="app-nav-link">Topics</a>
         <% } %>

         <% if (pageUrlEndpoint !== '/search') { %>
            <a href="/search" aria-label="Search" role="link" class="app-nav-link app-nav-link-rounded">
               <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  class="app-icon search-icon"
                  viewBox="0 0 24 24">
                  <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
               </svg>
            </a>
         <% } %>
      </nav>
   </div>
</header>

<% if (autoHideNavbar) { %>
   <script>
      (function () {
         const header = document.getElementById("app-header");
         let current = 0, prev;

         window.addEventListener('scroll', function(e) {
            prev = window.scrollY;

            if (current < prev && prev > 80) {
               header.classList.add("hidden");
            } else if (current > prev) {
               header.classList.remove("hidden");
            }

            current = prev;
         });
      }());
   </script>
<% } %>
