<style>
   header {
      position: fixed;
      display: flex;
      left: 0;
      right: 0;
      top: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100px;
      z-index: 100;
      border-bottom: 1px solid var(--accents-2);
      background-color: var(--background);
   }

   header .app-title {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 3rem;
      font-weight: 500;
      letter-spacing: -0.066875rem;
   }

   header .app-title .app-title__prefix {
      color: var(--foreground);
   }

   header .app-title .app-title__suffix {
      color: var(--accents-4);
   }

   header .app-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      height: inherit;
   }

   header .app-nav .app-nav-link {
      display: inline-flex;
      width: 80px;
      height: 40px;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      border-radius: 25px;
      color: inherit;
      transition: border-color 200ms ease;
   }

   header .app-nav .app-nav-link.app-nav-link-rounded {
      width: 40px;
   }

   header .app-nav .app-nav-link > .app-icon {
      width: 24px;
      height: 24px;
      fill: var(--foreground);
   }

   header .app-nav .app-nav-link:hover {
      border-color: var(--foreground);
   }

   header .app-nav .app-nav-link:focus {
      border-color: var(--foreground);
      background-color: var(--foreground);
      color: var(--background);
   }

   header .app-nav .app-nav-link:focus > .app-icon {
      fill: var(--background);
   }

   header .page-header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 65vw;
      height: inherit;
   }

   @media (max-width: 767px) {
      header {
         height: 70px;
      }
      header .page-header-container {
         width: 90vw;
      }
      header .app-title {
         font-size: 2rem;
      }
      header .app-nav {
         gap: var(--gap-quarter);
      }
      header .app-nav .app-nav-link {
         width: 70px;
         height: 35px;
      }
      header .app-nav .app-nav-link > .app-icon {
         width: 22px;
         height: 22px;
      }
      header .app-nav .app-nav-link.app-nav-link-rounded {
         width: 35px;
      }
   }
</style>

<header>
   <div class="page-header-container">
      <h3 class="app-title">
         <a href="/" title="Fivemin"><span class="app-title__prefix">five</span><span class="app-title__suffix">min</span></a>
      </h3>
      <nav class="app-nav">
         <% if (pageUrlEndpoint !== '/t') { %>
            <a href="/t" class="app-nav-link">Topics</a>
         <% } %>

         <% if (pageUrlEndpoint !== '/search') { %>
            <a href="/search" class="app-nav-link app-nav-link-rounded">
               <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  class="app-icon search-icon"
                  viewBox="0 0 24 24">
                  <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
               </svg>
            </a>
         <% } %>
      </nav>
   </div>
</header>
