<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

      <link rel="icon" href="favicon-16x16.png" sizes="16x16" type="image/png" />
      <link rel="icon" href="favicon-32x32.png" sizes="32x32" type="image/png" />
      <link rel="icon" href="favicon-48x48.png" sizes="48x48" type="image/png" />
      <link rel="icon" href="favicon-64x64.png" sizes="64x64" type="image/png" />
      <link
         href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
         rel="stylesheet"
      />
      <link
         href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="default.css" />
      <title><%= pageTitle %></title>
      <style>
         main {
            display: flex;
            flex-direction: column;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
         }

         @media (max-width: 767px) {
            main {
               width: 90vw;
            }
         }

         @media (min-width: 768px) and (max-width: 1023px) {
            main {
               min-width: 600px;
               max-width: 700px;
            }
         }

         @media (min-width: 1024px) {
            main {
               width: 900px;
            }
         }
      </style>
   </head>

   <body>
      <%- partialHeader %>
      <%- partialMain %>
      <%- partialFooter %>
   </body>
</html>
