:root {
   --accents-1: #fafafa;
   --accents-2: #eaeaea;
   --accents-3: #999;
   --accents-4: #888;
   --accents-5: #666;
   --accents-6: #444;
   --accents-7: #333;
   --accents-8: #111;

   --primary: #0070f3;
   --primary-fr: #fff;

   --error: #ee0000;
   --error-fr: #fff;

   --warn: #f5a623;
   --warn-fr: #000;

   --light: #eaeaea;
   --light-fr: #000;

   --cyan: #50e3c2;
   --cyan-fr: #fff;

   --purple: #f81ce5;
   --purple-fr: #fff;

   --violet: #7928ca;
   --violet-fr: #fff;

   --background: #fff;
   --foreground: #000;
   --overlay: rgba(255, 255, 255, 0.9);
   --overlay-dark: rgba(50, 50, 50, 0.8);

   --font-sans: 'Inter', 'Roboto', Arial;
   --font-mono: 'Source Code Pro', 'Menlo', 'Monaco', 'Lucida Console', Monospace;

   --gap: 16pt;
   --gap-half: 8pt;
   --gap-quarter: 4pt;

   --shadow-small: 0 5px 10px rgba(100, 100, 100, 0.5);
   --shadow-medium: 0 8px 30px rgba(100, 100, 100, 0.5);
   --shadow-large: 0 30px 60px rgba(100, 100, 100, 0.5);

   --radius: 8px;
}

@media (prefers-color-scheme: dark) {
   :root {
      --accents-8: #fafafa;
      --accents-7: #eaeaea;
      --accents-6: #999;
      --accents-5: #888;
      --accents-4: #666;
      --accents-3: #444;
      --accents-2: #333;
      --accents-1: #111;

      --primary: #3291ff;
      --primary-fr: #fff;

      --error: #ff1a1a;
      --error-fr: #fff;

      --warn: #f7b955;
      --warn-fr: #000;

      --light: #eaeaea;
      --light-fr: #000;

      --cyan: #79ffe1;
      --cyan-fr: #fff;

      --purple: #f81ce5;
      --purple-fr: #fff;

      --violet: #7928ca;
      --violet-fr: #fff;

      --background: #000;
      --foreground: #FFF;
      --overlay: var(--overlay-dark);

      --shadow-small: 0 5px 10px rgba(0, 0, 0, 0.5);
      --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.5);
      --shadow-large: 0 30px 60px rgba(0, 0, 0, 0.5);
   }
}

html {
   font-size: 16px;
}

html,
body {
   height: 100vh;
   background-color: var(--background);
   color: var(--foreground);
}

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
   font-size: 1rem;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   width: 100%;
   min-height: 100%;
   position: relative;
   font-family: var(--font-sans);
}

*,
*::before,
*::after {
   box-sizing: inherit;
   text-rendering: geometricPrecision;
   -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 0.625rem 0;
   color: inherit;
   font-family: 'Poppins', 'Inter', Arial, sans-serif;
}
span {
   font-size: inherit;
   color: inherit;
   font-weight: inherit;
}
p,
small {
   font-weight: 400;
   color: inherit;
   letter-spacing: -0.005625rem;
   font-family: var(--font-sans);
}
p {
   margin-top: 0;
   margin-bottom: 1rem;
   font-size: 18px;
   line-height: 1.825em;
}
small {
   margin: 0;
   line-height: 1.5;
   font-size: 0.875rem;
}
b {
   font-weight: 600;
}
code {
   font-family: var(--font-mono);
}
img {
   max-width: 100%;
}

a {
   color: var(--primary);
   outline: none;
   cursor: pointer;
   font-size: inherit;
   -webkit-touch-callout: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-box-align: center;
   align-items: center;
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
button,
input,
select,
textarea {
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   color: inherit;
   margin: 0;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
   outline: none;
}
ol,
ul {
   list-style: none;
   padding: 0;
   list-style-type: none;
   margin: 8pt 8pt 8pt 16pt;
   color: var(--foreground);
}
ol {
   list-style-type: decimal;
}
li {
   margin-bottom: 0.625rem;
   font-size: 1em;
   line-height: 1.625em;
}
ul > li:before {
   content: '•';
   display: inline-block;
   color: var(--foreground);
   position: absolute;
   margin-left: -0.9375rem;
}
input[type='button'],
input[type='submit'],
input[type='reset'] {
   appearance: button;
}
input:-webkit-autofill {
   box-shadow: 0 0 0 100px #fff inset;
}
h1 {
   font-size: 3rem;
   letter-spacing: -0.066875rem;
   line-height: 1.5;
   font-weight: 700;
}
h2 {
   font-size: 2.25rem;
   letter-spacing: -0.020625rem;
   font-weight: 600;
}
h3 {
   font-size: 1.5rem;
   letter-spacing: -0.029375rem;
   font-weight: 600;
}
h4 {
   font-size: 1.25rem;
   letter-spacing: -0.020625rem;
   font-weight: 600;
}
h5 {
   font-size: 1rem;
   letter-spacing: -0.01125rem;
   font-weight: 600;
}
h6 {
   font-size: 0.875rem;
   letter-spacing: -0.005625rem;
   font-weight: 600;
}
hr {
   width: 100%;
   height: 1px;
   clear: both;
   border-width: 0;
   background-color: var(--accents-2);
}
details {
   background-color: var(--accents-1);
   border: none;
}
details:focus,
details:hover,
details:active {
   outline: none;
}
summary {
   cursor: pointer;
   user-select: none;
   list-style: none;
   outline: none;
}
summary::-webkit-details-marker,
summary::before {
   display: none;
}
summary::-moz-list-bullet {
   font-size: 0;
}
summary:focus,
summary:hover,
summary:active {
   outline: none;
   list-style: none;
}
blockquote {
   padding: calc(0.667 * var(--gap)) var(--gap);
   color: var(--accents-5);
   background-color: var(--accents-1);
   border-radius: var(--radius);
   margin: 1.5rem 0;
   border: 1px solid var(--accents-2);
}
blockquote *:first-child {
   margin-top: 0;
}
blockquote *:last-child {
   margin-bottom: 0;
}
::selection {
   background-color: var(--cyan);
   color: #000;
}

@media (max-width: 767px) {
   h1 {
      font-size: 2.3rem;
      line-height: 1.3;
   }
   h2 {
      font-size: 1.8rem;
   }
}

table {
   border-collapse: separate;
   border-spacing: 0;
   width: 100%;
   margin-top: var(--gap);
   margin-bottom: var(--gap);
}
table thead th td {
   height: 2.5rem;
}
table tbody tr td {
   height: 3.125rem;
}
table td,
table th {
   padding: 0 0.625rem;
   text-align: left;
}
table th {
   height: 2.5rem;
   color: var(--accents-5);
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 0;
   background: var(--accents-1);
}
table th,
table th:first-child {
   border-bottom: 1px solid var(--accents-2);
   border-top: 1px solid var(--accents-2);
}
table th:first-child {
   border-left: 1px solid var(--accents-2);
   border-radius: 4px 0 0 4px;
}
table th:last-child {
   border-radius: 0 4px 4px 0;
   border-right: 1px solid var(--accents-2);
   border-top: 1px solid var(--accents-2);
}
table th:last-child,
table tr td {
   border-bottom: 1px solid var(--accents-2);
}
table tr td {
   color: var(--accents-6);
   font-size: 1rem;
   height: 2.5rem;
}
table td:first-child {
   border-left: 1px solid transparent;
}

button, .app-button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   gap: var(--gap-quarter);
   min-width: 80px;
   height: 42px;
   font-size: 1rem;
   border: 0;
   padding-left: var(--gap-half);
   padding-right: var(--gap-half);
   cursor: pointer;
   transition: transform 140ms ease, box-shadow 160ms ease, background-color 60ms linear, color 60ms linear;
   background-color: var(--foreground);
   color: var(--background);
   border-radius: var(--radius);
   transform: translateY(0);
   user-select: none;
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
}
button svg, .app-button svg {
   width: 1rem;
   height: 1rem;
   fill: var(--background);
}
button:hover, .app-button:hover {
   box-shadow: var(--shadow-medium);
}
button:active, .app-button:active {
   transform: translateY(-5px);
}
button:disabled, .app-button[aria-disabled='true'], .app-button.disabled {
   background-color: var(--accents-2);
   color: var(--accents-4);
   pointer-events: none;
}
button:disabled svg, .app-button[aria-disabled='true'] svg, .app-button.disabled svg {
   fill: var(--accents-4);
}

button.small, .app-button.small {
   min-width: 40px;
   height: 38px;
   font-size: 14px;
   border-radius: 25px;
}

button.adaptive, .app-button.adaptive {
   background-color: var(--accents-2);
   color: var(--foreground);
}
button.adaptive svg, .app-button.adaptive svg {
   fill: var(--foreground);
}
button.adaptive:hover, .app-button.adaptive:hover {
   box-shadow: none;
   background-color: var(--foreground);
   color: var(--background);
}
button.adaptive:hover svg, .app-button.adaptive:hover svg {
   fill: var(--background);
}

button.outlined, .app-button.outlined {
   background-color: transparent;
   color: var(--foreground);
   border-width: 1px;
   border-style: solid;
   border-color: var(--foreground);
}
button.outlined svg, .app-button.outlined svg {
   fill: var(--foreground);
}
button.outlined:disabled, .app-button.outlined[aria-disabled='true'], .app-button.disabled {
   border-color: var(--accents-2);
   color: var(--accents-4);
   pointer-events: none;
}
button.outlined:disabled svg, .app-button.outlined[aria-disabled='true'] svg, .app-button.disabled svg {
   fill: var(--accents-4);
}
button.outlined:hover, .app-button.outlined:hover {
   background-color: var(--foreground);
   color: var(--background);
   box-shadow: none;
}
button.outlined:active, .app-button.outlined:active {
   transform: none;
}
button.outlined:hover svg, .app-button.outlined:hover svg {
   fill: var(--background);
}

[hidden] {
   display: none !important;
}

.page-content-y-padding {
   padding-top: 3rem;
   padding-bottom: 3rem;
}

.text-muted {
   color: var(--accents-6);
}

.pagination-controls {
   display: flex;
   padding-top: var(--gap);
   padding-bottom: var(--gap);
   justify-content: space-between;
}
