<style>
   main .page-hero {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 400px;
   }

   main .page-hero-text {
      width: 60%;
   }

   main .page-hero-text,
   main .page-hero-image {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      height: inherit;
   }

   main .page-hero-image img {
      max-height: 320px;
   }

   main .page-hero .page-hero-desc {
      font-size: 1.3rem;
      font-weight: 500;
   }

   main .page-posts-collection {
      display: grid;
      gap: 2rem;
      padding-top: 12px;
      padding-bottom: 12px;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
   }

   #quick-search-form {
      display: flex;
      width: 360px;
      padding: var(--gap-quarter);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-width: 2px;
      border-style: solid;
      border-color: var(--accents-2);
      border-radius: 50px;
      transition: border-color 120ms ease;
   }

   #quick-search-form.focused {
      border-color: var(--foreground);
   }

   #quick-search-input {
      height: 100%;
      width: 100%;
      border-radius: inherit;
      border: none;
      font-family: inherit;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;
      padding-left: var(--gap-half);
      padding-right: var(--gap-half);
      -webkit-tap-highlight-color: transparent;
   }
   #quick-search-input::placeholder {
      color: var(--accents-5);
   }

   #quick-search-button {
      border-radius: 50px;
   }

   @media (max-width: 576px) {
      main .page-hero {
         height: 350px;
      }

      main .page-hero-text {
         width: 100%;
      }

      main .page-hero .page-hero-title {
         font-size: 2.1rem;
         line-height: 4rem;
      }

      main .page-hero .page-hero-desc {
         font-size: 1rem;
      }

      main .page-hero .page-hero-image {
         display: none;
      }

      #quick-search-form {
         width: calc(100% - var(--gap-half));
      }
   }

   /* Small to Medium */
   @media (max-width: 992px) {
      main .page-hero {
         height: 430px;
      }

      main .page-hero-text {
         width: 100%;
      }

      main .page-hero .page-hero-image {
         display: none;
      }
   }

   /* Large */
   @media (min-width: 992px) {
      main .page-hero {
         height: 420px;
      }

      main .page-hero-text {
         width: 60%;
      }

      main .page-hero .page-hero-desc {
         max-width: 85%;
      }

      main .page-hero .page-hero-image {
         display: inline-flex;
      }
   }
</style>

<main>
   <section class="page-hero">
      <div class="page-hero-text">
         <h1 class="page-hero-title">Explore. Learn. Grow</h1>
         <p class="page-hero-desc text-muted">Rapidly grasp tech, science, and more with our concise insights, empowering your knowledge and understanding effortlessly.</p>
         <form 
            id="quick-search-form" 
            name="search" 
            method="get" 
            action="/search" 
            onsubmit="return quickSearch(event);">
            <input 
               aria-hidden="true" 
               type="text" 
               name="q" 
               id="quick-search-input-encoded" 
               readonly 
               hidden />

            <input
               aria-label="Search input"
               id="quick-search-input" 
               type="text" 
               placeholder="Search Fivemin" />

            <button 
               aria-label="Search" 
               id="quick-search-button" 
               type="submit">
               Search
            </button>
         </form>
      </div>
      <div class="page-hero-image">
         <img 
            src="/images/hero.svg" 
            alt="Explore" 
            aria-label="Explore illustration image" 
            width="100%" 
            height="100%" />
      </div>
   </section>

   <br />

   <section class="page-recent-posts">
      <h2 class="page-recent-posts-title">Recent Posts</h2>

      <%- include(`partials/post-collection`, { showTopic: true }) %>

      <% if (posts.length > 0) { %>
         <%- include(`partials/pagination-control`, { size: posts.length, maxSize: 12 }) %>
      <% } %>
   </section>
</main>

<script>
   function quickSearch(event) {
      let query = document.getElementById('quick-search-input').value;
      query = query.trim();
      event.target.q.value = encodeURI(query);
      return true;
   }

   window.onload = function() {
      const qsi = document.getElementById('quick-search-input');
      const qsf = document.getElementById('quick-search-form');

      qsi.onfocus = function() {
         qsf.classList.add('focused');
      }
      qsi.onblur = function() {
         qsf.classList.remove('focused');
      }
   }
</script>
