<main class="privacy-content page-content-y-padding">
   <h2>Privacy Policy for Fivemin</h2>
   <p>Last updated: Aug 26, 2023</p>
   <br />
   <h3>Introduction</h3>
   <p>
      Fivemin (the "Website") is a website owned and operated by Rajat. This Privacy Policy describes how we collect, use, and share your information when you or use the Website.
   </p>

   <h3>Personal Information We Collect</h3>
   <p>We collect the following personal information from you:</p>
   <ul>
      <li><strong>Anonymous User Id</strong>: We collect random generated user-id when you open website for the first time.</li>
   </ul>

   <h3>How We Use Your Information</h3>
   <p>We use your information for the following purposes:</p>
   <ul>
      <li>To improve the Website and our services.</li>
      <li>To prevent fraud and abuse.</li>
   </ul>

   <h3>Third-Party Sharing</h3>
   <p>
      We do not share your personal information with third parties for their marketing purposes. However, we may share your information with third-party service providers who help us operate the Website, such as our email marketing provider. These third-party service providers are obligated to protect your information in accordance with this Privacy Policy.
   </p>

   <h3>Information Protection</h3>
   <p>We take steps to protect your information from unauthorized access, use, or disclosure. These steps include:</p>
   <ul>
      <li>Using Secure Sockets Layer (SSL) encryption to protect your personal information when it is transmitted over the Internet.</li>
      <li>Storing your personal information on secure servers.</li>
      <li>Limiting access to your personal information to authorized employees and contractors.</li>
   </ul>

   <h3>Cookies</h3>
   <p>
      We use cookies on the Website to track your browsing activity and to remember your preferences. You can disable cookies in your web browser settings. However, disabling cookies may affect your ability to use some features of the Website.
   </p>

   <h3>Your Rights</h3>
   <p>You have the following rights with respect to your personal information:</p>
   <ul>
      <li>The right to access your personal information.</li>
      <li>The right to delete your personal information.</li>
      <li>The right to object to the processing of your personal information.</li>
   </ul>
   <p>To exercise these rights, please contact us at <a href="mailto:<%= contactEmail %>"><%= contactEmail %></a></p>

   <h3>Changes to This Privacy Policy</h3>
   <p>
      We may update this Privacy Policy from time to time. If we make any material changes to this Privacy Policy, we will notify you by posting a notice on the Website.
   </p>

   <h3>Contact Us</h3>
   <p>
      If you have any questions about this Privacy Policy, please contact us at:<br /><a href="mailto:<%= contactEmail %>"><%= contactEmail %></a>
   </p>
</main>
