<main class="page-topic21 page-content-y-padding">
   <div class="page-topic-heading">
      <h2 class="page-title"><%= topicName %></h2>
      <p><%= postCount %> Posts</p>
   </div>

   <%- include(`partials/post-collection`, { showTopic: false }) %>

   <% if (posts.length > 0) { %>
      <%- include(`partials/pagination-control`, { size: posts.length, maxSize: 6 }) %>
   <% } %>
</main>
