<main class="page-topic21 page-content-y-padding">
   <div class="page-topic-heading">
      <h1 class="page-title"><%= topicName %></h1>
      <p><%= postCount %> Posts</p>
   </div>
   <%- include('../templates/partials/_test'); %>
</main>
